.mainContaine{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
    gap: 30px;
}
.header{
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
}
.header span{
    color: #de1b89;
    font-weight: 600;
}
.img-loading{
    display: flex;
    flex-direction: column;    
}
.img-loading img{
    width: 512px;
}
.search-box{
    display: flex;
    width: 750px;
    height: 75px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #1f3540;
}
.search-input{
    width: 400px;
    height: 75px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;
}
.search-input::placeholder{
    color: #999;
}
.generate-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 65px;
    font-size: 20px;
    border-radius: 50px;
    background: #de1b89;
    cursor: pointer;
}